
# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://github.com/pypa/gh-action-pypi-publish#trusted-publishing

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build_wheels:
    name: Build wheels for ${{ matrix.os }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - os: linux-intel
            python-version: 3.12
            runs-on: ubuntu-latest
          - os: linux-arm
            python-version: 3.12
            runs-on: ubuntu-24.04-arm
          - os: macos-intel
            python-version: 3.12
            runs-on: macos-15-intel
          - os: linux-intel
            python-version: 3.13
            runs-on: ubuntu-latest
          - os: linux-arm
            python-version: 3.13
            runs-on: ubuntu-24.04-arm
          - os: macos-intel
            python-version: 3.13
            runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v5
      - name: Install OpenMP-enabled Clang
        if: matrix.os == 'macos-intel'
        run: |
          echo "MACOSX_DEPLOYMENT_TARGET=14.0" >> $GITHUB_ENV
          brew install llvm libomp
          echo "CC=/usr/local/opt/llvm/bin/clang" >> $GITHUB_ENV
          echo "CXX=/usr/local/opt/llvm/bin/clang++" >> $GITHUB_ENV
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheels pypa step on ${{ matrix.os }} Python ${{ matrix.python-version }}
        uses: pypa/cibuildwheel@v3.2.0
        env:
          CIBW_PLATFORM: ${{ matrix.platform || 'auto' }}
          CIBW_ARCHS: ${{ matrix.archs || 'auto' }}
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build sdist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true
      - uses: pypa/gh-action-pypi-publish@release/v1
